.R4C { 
	background-color: #008B8B;
	 width: 100px;
 padding: 10px;
 border: 5px solid black;
 margin: 10px; 
	
	
}
 .borders {
 width: 220px;
 padding: 10px;
 border: 5px solid black;
 margin: 10px; 
 }