  
  
  
  
		
This all started when all of us wanted to create an app/ website to help students that have in mind to go to college. 
We started to notice that a lot of students struggle most of the process and they are not informed as much as they  want to be. 
So we wanted to create something that had all of the information that they needed like basic information of colleges, and reminders,
guidance, We want the students to have hope during this tough process. We want them to feel like they have a sort of counselor.It was a long 
process with finding all of the information needed to create the app. We had to interview people fint out what was hard for them and what they
needed or need

	