<h1>Register</h1>
<form class="form-horizontal" role="form">
	<div class="form-group">
		<div class="alert alert-success" style="display: none">
			<b></b>
		</div>
	</div>
	<!-- First Name -->
	<div class="form-group">
		<label class="col-sm-2 control-label" for="first_name">First Name:</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" placeholder="First Name"
				id="first_name" name="first_name" value="">
		</div>
	</div>
	<!-- Last Name -->
	<div class="form-group">
		<label class="col-sm-2 control-label" for="last_name">Last Name</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" placeholder="Last Name"
				id="last_name" name="last_name" value="">
		</div>
	</div>
	<!-- Username -->
	<div class="form-group">
		<label class="col-sm-2 control-label" for="formGroupInputLarge">Username</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" value="" id="username" name="username" placeholder="Username">
		</div>
	</div>
	<!-- Password -->
	<div class="form-group">
		<label class="col-sm-2 control-label" for="password">Password</label>
		<div class="col-sm-10">
			<input class="form-control" type="password" id="password" name="password"
				   placeholder="Enter Password" value="">
		</div>
	</div>
	<!-- Confirm Password -->
	<div class="form-group">
		<label class="col-sm-2 control-label" for="password_confirm">Confirm Password</label>
		<div class="col-sm-10">
			<input class="form-control" type="password" id="password_confirm" name="password_confirm"
				   placeholder="Re-enter Password" value="">
		</div>
	</div>
	<!-- Email -->
	<div class="form-group">
		<label class="col-sm-2 control-label" for="email">Email</label>
		<div class="col-sm-10">
			<input class="form-control" type="text" id="email" name="email"
				   placeholder="Email Address" value="">
		</div>
	</div>
	<!-- School Name -->
	<div class="form-group">
		<label for="school" class="col-sm-2 control-label">School Name</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="school_name" name="school_name"
				   placeholder="School Name" value="">
		</div>
	</div>
	
	<div class="form-group">
		<label for="grade" class="col-sm-2 control-label">Grade</label>
		<div class="col-sm-10">
			<select class="form-control" id="grade" name="grade" value="">
				<option>9th</option>
				<option>10th</option>
				<option>11th</option>
				<option>12th</option>
			</select>
		</div>
	</div>
	<!-- Hidden Form Fields Here -->
	<input type="hidden" id="project_id" name="project_id" value="">
	
	<button type="submit" class="btn btn-primary save">Save</button>
</form>