<h1>Welcome!</h1>
  Welcome to an app where you will have the opportunity to have a guidance towards your path to college. 
This app was created by 7 students and 2 teachers trying to find a solution to the struggle of students
trying to get an education and trying to get to college. This was created by Che Cervantes, Malik Grant,
Chaitanya Mital, Anel Jauregui, Johnny Ramirez, Lucio Lopez, Giovanni Jauregui, Tapan Parikh, and Sarah Van Wart.
<a href="#/insight" class="btn btn-default"> Read More...</a>
<style>
	body {
		background-image: url('http://www.utoronto.ca/sites/default/files/campuses/downtown-front-campus.jpg');
		background-size: auto 100%;
		background-repeat: no-repeat;
		background-color: #000;
		background-position: left
	}
	#content {
		background-color: rgba(255, 255, 255, 0.9);
		min-height: 800px;
	}
</style>	