<div><center>
	<h1><%= name %></h1>
<font face="Arial" size="5"Name: <%= name %> <br> 
Location: <%= address %> <br>
Average Weighted GPA: <%= average_gpa_weighted %> <br>
Average Unweighted GPA: <%= average_gpa_unweighted %> <br>
SAT Reading: <%=average_sat_reading%><br>
SAT Math: <%=average_sat_math%> <br>
SAT Writing: <%=average_sat_writing%> <br>
</div>

<div>
<center>
<br>
Click on icon for more info! <br>
<a href= "<%= more_info %>"> 
<img class="university-logo" src="<%= image_link %>"/> <br>
</a>
<% if (typeof(user) != "undefined") { %>
	<br>
	Your GPA (Unweighted): <%= user.gpa_unweighted %>
<% } %>
</center>
</div>